
body {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* box-sizing: border-box; */
    background-color: #A79277;
}

.page-section {
    height: 100vh;
}

.background-container {
    position: relative;
    background-image: url('dermatologist.png');
    background-size: cover;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 50px;
    text-align: center;
    
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.main-heading {
    color: rgb(0, 0, 0);
    font-size: 5rem;
    margin-top: 550px; 
    
}
.mainheading {
    margin-top: 500px;
    font-size: 6rem;
    color: white;
}
@media screen and (max-width: 768px) {
    .mainheading {
        font-size: 2.5rem;
        margin-top: 350px; /* Adjust the font size for smaller screens */
    }
    .main-heading{
        font-size: 3rem;
    }

}



.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 4rem;
    color: rgb(0, 0, 0);
}
.card-container1{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 400px;

}
.card-container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 200px;
    }
.card-container1 h1{
    align-items: center;
}
.card{
    width: 325px;
    background-color:#EAD8C0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 8px #FFF2E1;
    margin: 20px;
    height:700px;
}
.card img{
    width: 100%;
    height: 55%;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-container1 .btn {
    display: inline-block;
    padding: 16px 16px;
    background-color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white; 
    width: 300px;
    text-align: center;
    margin-top: 100px;
    
}
.card-container2 .btn {
    display: inline-block;
    padding: 16px 16px;
    background-color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white; 
    width: 300px;
    text-align: center;
    align-self: flex-end;
    margin-top: 100px;
}
.card-content p{
    color: black;
    font-size: 15px;
    line-height: 1.3;
}


footer {
    background-color: #FFF2E1;
    color: #302a22;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}